{% extends "base.html" %}

{% block middle %}

<form method="post" action="/update/{{ video._id }}">
    <label for="category">Category:</label>
    <input type="text" name="category" value="{{ video.category }}">
  <p>
    <label for="comment"></label>
    <textarea name="comment" rows="8" cols="50">{{ video.comment }}</textarea>
  <p>
    <label for="rating"></label>
    <select name="rating">
      <option value="1"
        {% if video.rating=='1' %}
        selected
        {% endif %}>1</option>
      <option value="2"
        {% if video.rating=='2' %}
        selected
        {% endif %}>2</option>
      <option value="3"
        {% if video.rating=='3' %}
        selected
        {% endif %}>3</option>
      <option value="4"
        {% if video.rating=='4' %}
        selected
        {% endif %}>4</option>
      <option value="5"
        {% if video.rating=='5' %}
        selected
        {% endif %}>5</option>
    </select>
    <input type="submit" value="Update" style="background-color:blue;color:white;border-radius:10%">
</form>

{% endblock %}
